<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
         https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <servlet>
    <servlet-name>DashboardServlet</servlet-name>
    <servlet-class>servlet.DashboardServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>DashboardServlet</servlet-name>
    <url-pattern>/DashboardServlet</url-pattern>
</servlet-mapping>
    <servlet>
        <servlet-name>MedicamentServlet</servlet-name>
        <servlet-class>servlet.MedicamentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MedicamentServlet</servlet-name>
        <url-pattern>/MedicamentServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FournisseurServlet</servlet-name>
        <servlet-class>servlet.FournisseurServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FournisseurServlet</servlet-name>
        <url-pattern>/FournisseurServlet</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>LoginServlet</welcome-file>
    </welcome-file-list>

</web-app>